/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/phpunit.xml
/src/DWAPS/CoreBundle/Resources/public/lib
/web/*
!/web/app.php
!/web/app_dev.php
!/web/apple-touch-icon.png
!/web/config.php
!/web/favicon.ico
!/web/robots.txt
