{% extends 'DWAPSAdminBundle::layout.html.twig' %}


{% block dwaps_admin_body %}

	{% for flashes in app.session.flashbag.all %}
		{% for flash in flashes %}
		    {{ flash }}
		{% endfor %}
	{% endfor %}
	
	<br><br>

	<a href="{{ path( 'dwaps_admin_add_tuto' ) }}" class="btn btn-danger">
		Créer un tutoriel
	</a>
	
{% endblock %}