/**
* Auteur : 	DWAPS Formation - Michael Cornillon
* Mail : 	contact@dwaps.fr
* Tel :		0651279211
* Site : 	http://dwaps.fr
* Date : 	14/01/2017
**/

@import 'logo.css';
@import 'splash.css';
@import 'splash-anim.css';
@import 'menu.css';
@import 'tuto.css';

/*
- MEDIA QUERIES : <560 >=560 (comme Bootstrap) >=768 >=992 >=1200
xxs
@media only screen and (max-width: 560px )
{	
}
xs
@media only screen and (min-width: 560px )
{	
}
sm
@media only screen and (min-width: 768px )
{	
}
md
@media only screen and (min-width: 992px )
{
}
lg
@media only screen and (min-width: 1200px )
{
}

**/

@import url('https://fonts.googleapis.com/css?family=Cantarell');


/*CHARTE GRAPHIQUE*/
.dwaps-bg-red
{
	background: #C22D2D !important;
}

.dwaps-red
{
	color: #C22D2D !important;
}

.dwaps-bg-green
{
	background: #2F9138 !important;
}

.dwaps-green
{
	color: #2F9138 !important;
}

.dwaps-bg-blue
{
	background: #2F4F4F !important;
}

.dwaps-blue
{
	color: #2F4F4F !important;
}

.dwaps-bg-lightblue
{
	background: #D4D4D4 !important;
}

.dwaps-lightblue
{
	color: #D4D4D4 !important;
}
/*FIN CHARTE GRAPHIQUE*/


html, body
{
	overflow-x: hidden !important;
}

body
{
	display: none;
	min-width: 350px;
	font-family: 'Cantarell', sans-serif;
	/*background: url( ../../../images/noisy-1.png ) center repeat;*/
	font-size: 17px;
}

a, a:link, a:visited, a:active, a:focus
{
	text-decoration: none !important;
	border: none !important;
	color: white;
	outline: 0;
}

.img-loading
{
	position: relative;
	width: 0;
	padding-right: 35px;
	margin: 0 auto;

}

.img-loading img
{
	position: absolute;
	top: 200px;
	width: 70px !important;
}

.margin-xtrem-top
{
	margin-top: 110px;
}

.margin-top
{
	margin-top: 20px;
}

.margin-bottom
{
	margin-bottom: 30px;
}

@media screen and (min-width: 992px)
{
	.offset-left
	{
		position: relative;
		left: 5%;
	}

	.offset-right
	{
		position: relative;
		right: 5%;
	}
}

input::-moz-focus-inner { 
  border: 0; 
}

/*MESSAGE FLASH*/
.dwaps-flash
{
	text-align: center;
}

.dwaps-flash h3
{
	position: relative;
	top: -5px;
}


/*BLOC TEXTE EN CARTE*/

/* CARTES */
.dwaps-card
{
	box-shadow: 2px 2px 5px #333;
	background: #EBEBEB;
	padding: 15px;
}

.dwaps-card h3
{
	text-align: center;
	/*text-shadow: 1px 1px 0 #fff, 2px 2px 1px #888, 3px 3px 1px #222;*/
	text-shadow: 1px 1px 1px #222;
	text-transform: uppercase;
	font-weight: bolder;
	padding-bottom: 10px;
}

.dwaps-card p
{
	color: #33334A !important;
	font-size: 1.3em;
}

.dwaps-card .label
{
	font-size: 0.8em;
	font-weight: 100;
	margin-left: 10px;
	line-height: 45px;
	text-shadow: none;
	-webkit-transition: background .3s;
	   -moz-transition: background .3s;
	    -ms-transition: background .3s;
	     -o-transition: background .3s;
	        transition: background .3s;
}

.dwaps-card .label:hover
{
	background: #467575 !important;
}

/*PAGINATION*/
.pagination
{
	box-shadow: 1px 1px 1px #333;
}

.pagination a:hover
{
	background: #D4D4D4 !important;
}
.pagination .active a
{
	background: #2F4F4F !important;
}