@-webkit-keyframes removeZIndexMax
{
	to {
		bottom: 88%;
	}
}
@-moz-keyframes removeZIndexMax
{
	to {
		bottom: 88%;
	}
}
@-ms-keyframes removeZIndexMax
{
	to {
		bottom: 88%;
	}
}
@-o-keyframes removeZIndexMax
{
	to {
		bottom: 88%;
	}
}
@keyframes removeZIndexMax
{
	to {
		bottom: 88%;
	}
}

@-webkit-keyframes disapears
{
	10% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}
@-moz-keyframes disapears
{
	10% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}
@-ms-keyframes disapears
{
	10% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}
@-o-keyframes disapears
{
	10% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}
@keyframes disapears
{
	10% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}

@-webkit-keyframes turnIt
{
	30% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	70% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	100% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
}
@-moz-keyframes turnIt
{
	30% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	70% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	100% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
}
@-ms-keyframes turnIt
{
	30% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	70% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	100% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
}
@-o-keyframes turnIt
{
	30% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	70% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	100% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
}
@keyframes turnIt
{
	30% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	70% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
	100% {
		-webkit-transform: rotate( 720deg );
		   -moz-transform: rotate( 720deg );
		    -ms-transform: rotate( 720deg );
		     -o-transform: rotate( 720deg );
		        transform: rotate( 720deg );
	}
}

@-webkit-keyframes toHorizontal
{
	85% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	100% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}
@-moz-keyframes toHorizontal
{
	85% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	100% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}
@-ms-keyframes toHorizontal
{
	85% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	100% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}
@-o-keyframes toHorizontal
{
	85% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	100% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}
@keyframes toHorizontal
{
	85% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	100% {
		margin-top: 25px;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}

@-webkit-keyframes toTop
{
	50% {
		height: 50%;
	}
	100% {
		margin-bottom: 50%;
		height: 100%;
		box-shadow: 0 2px 3px #222;
	}
}
@-moz-keyframes toTop
{
	50% {
		height: 50%;
	}
	100% {
		margin-bottom: 50%;
		height: 100%;
		box-shadow: 0 2px 3px #222;
	}
}
@-ms-keyframes toTop
{
	50% {
		height: 50%;
	}
	100% {
		margin-bottom: 50%;
		height: 100%;
		box-shadow: 0 2px 3px #222;
	}
}
@-o-keyframes toTop
{
	50% {
		height: 50%;
	}
	100% {
		margin-bottom: 50%;
		height: 100%;
		box-shadow: 0 2px 3px #222;
	}
}
@keyframes toTop
{
	50% {
		height: 50%;
	}
	100% {
		margin-bottom: 50%;
		height: 100%;
		box-shadow: 0 2px 3px #222;
	}
}

@-webkit-keyframes toBottom
{
	50% {
		margin-top: 50%;
		height: 0%;
	}
	100% {
		margin-top: 150%;
		height: 0;
	}
}
@-moz-keyframes toBottom
{
	50% {
		margin-top: 50%;
		height: 0%;
	}
	100% {
		margin-top: 150%;
		height: 0;
	}
}
@-ms-keyframes toBottom
{
	50% {
		margin-top: 50%;
		height: 0%;
	}
	100% {
		margin-top: 150%;
		height: 0;
	}
}
@-o-keyframes toBottom
{
	50% {
		margin-top: 50%;
		height: 0%;
	}
	100% {
		margin-top: 150%;
		height: 0;
	}
}
@keyframes toBottom
{
	50% {
		margin-top: 50%;
		height: 0%;
	}
	100% {
		margin-top: 150%;
		height: 0;
	}
}

@-webkit-keyframes toBanner
{
	95% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
	100% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
}
@-moz-keyframes toBanner
{
	95% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
	100% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
}
@-ms-keyframes toBanner
{
	95% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
	100% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
}
@-o-keyframes toBanner
{
	95% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
	100% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
}
@keyframes toBanner
{
	95% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
	100% {
		margin: 10px;
		top: -45px;
		left: 0%;
		font-size: 3em;
		-webkit-transform: scale( 0.5 );
		   -moz-transform: scale( 0.5 );
		    -ms-transform: scale( 0.5 );
		     -o-transform: scale( 0.5 );
		        transform: scale( 0.5 );
	}
}