
/* CARTES */

.tuto h4
{
	margin-top: 40px;
	margin-bottom: 30px;
	padding-left: 40px;
	font-size: 1.5em;
	font-weight: bold;
}

.tuto .small-labels
{
	font-size: 0.9em;
}

.tuto .chapter:first-child
{
	margin-top: 40px;
}

.tuto .chapter
{
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 30px;
	text-shadow: 1px 1px 1px #999;
	font-weight: bold;
	letter-spacing: 6px;
}

.tuto .paragraph p
{
	padding-left: 40px;
	padding-right: 40px;
}

.tuto ul
{
	font-size: 1.2em;
	list-style-image: url( ../images/puce.png );
	list-style-position: inside;
	padding-left: 60px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.tuto code
{
	width: 100% !important;
	margin-top: 30px !important;
	padding: 20px !important;
	overflow-y: auto;
}


.tuto .paragraph a
{
	color: #2F9138;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.tuto .paragraph a:hover
{
	color: #3EBF4A;
	text-shadow: 1px 1px 0 #fff, 2px 2px 1px #888, 3px 3px 1px #222;
}