#splashscreen
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-animation: removeZIndexMax .2s 4s forwards;
	-o-animation: removeZIndexMax .2s 4s forwards;
	animation: removeZIndexMax .2s 4s forwards;
}


/* TOP / BOTTOM PARTS */

	#splashscreen #top,
	#splashscreen #bottom
	{
		height: 50%;
		animation-delay: 3.5s;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		position: relative;
		/*background: url( ../../../images/noisy-1.png ) center repeat;*/
		background: #2F4F4F; /* darkSlateGrey */
		width: 100%;
	}

	#splashscreen #top
	{
		-webkit-animation-name: toTop;
		-o-animation-name: toTop;
		animation-name: toTop;
	}

	#splashscreen #bottom
	{
		-webkit-animation-name: toBottom;
		-o-animation-name: toBottom;
		animation-name: toBottom;
	}

/* FIN TOP / BOTTOM PARTS */




#splashscreen .logo
{
	-webkit-animation: toBanner 1s 3s forwards;
	-o-animation: toBanner 1s 3s forwards;
	animation: toBanner 1s 3s forwards;
}

#splashscreen .DWAPS
{
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-animation: toHorizontal 1s 3s forwards;
	-o-animation: toHorizontal 1s 3s forwards;
	animation: toHorizontal 1s 3s forwards;
}

#splashscreen .D, 
#splashscreen .W, 
#splashscreen .A, 
#splashscreen .P, 
#splashscreen .S
{
	position: relative;
	-webkit-animation: turnIt 2s 3s forwards;
	-o-animation: turnIt 2s 3s forwards;
	animation: turnIt 2s 3s forwards;
}

#splashscreen .W
{
	/*margin-left: -7px;*/
}

#splashscreen .bodyword
{
	position: absolute;
	top: 0;
	left: 42px;
	-webkit-animation: disapears 1s 3s forwards;
	-o-animation: disapears 1s 3s forwards;
	animation: disapears 1s 3s forwards;
	margin-top: 22px;
	font-size: 0.5em;
}

/*sm, md, lg*/
@media only screen and (min-width: 768px )
{
	#splashscreen .bodyword
	{
		margin-top: 0;
		font-size: inherit;
	}
}

#splashscreen .W .bodyword
{
	left: 48px;
}