{% extends "DWAPSCoreBundle:Admin:index.html.twig" %}

{% block title %}DWAPSCoreBundle:Admin:nav{% endblock %}

{% block dwaps_core_body %}
	<h1>Formulaire d'ajout de menu</h1>

	{{ form( form_add_menu ) }}

	<a href="{{ path( 'dwaps_core_home', { first_start: 'accueil' } ) }}" class="btn btn-danger">Retour accueil</a>
{% endblock %}
