CREER LE TEMPLATE DE CONFIRMATION DE CONTACT QUE RECEVRONT CEUX QUI AURONT PRIS CONTACT

{% extends "::base.html.twig" %}

{% block title %}DWAPSMailsBundle:AdminMails:confirmContact{% endblock %}

{% block body %}
<h1>Welcome to the AdminMails:confirmContact page</h1>
{% endblock %}
