CREER LE TEMPLATE DE CONTACT QUI DIT S'AFFICHER DANS L'EMAIL

{% extends "::base.html.twig" %}

{% block title %}DWAPSMailsBundle:AdminMails:contact{% endblock %}

{% block body %}
<h1>Welcome to the AdminMails:contact page</h1>
{% endblock %}
