CREER TEMPLATE POUR L'EMAIL DE PRESENTATION DES FORMATIONS DWAPS

{% extends "::base.html.twig" %}

{% block title %}DWAPSMailsBundle:AdminMails:listeFormations{% endblock %}

{% block body %}
<h1>Welcome to the AdminMails:listeFormations page</h1>
{% endblock %}
